@import '~font-awesome/css/font-awesome.css';

@font-face {
    font-family: "Fin Serif";
    src: url(./assets/fonts/FinSerifDisplay-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Juana;
    src: url(./assets/fonts/Juana-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}